/* .toy-preview-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--primary);
  color: var(--primary-content);

  border-radius: 15px;
  padding: 1em .6em;
}

.toy-preview-item .toy-label{
  font-size: .6em;

  background-color: var(--accent);
  color: var(--accent-content);

  margin: 0 .2em;
  padding: .5em 1.1em;
  border-radius: 1000px;
}

.toy-preview-item .price{
  justify-self: center;
  align-self: center;

  padding: .2em 1.5em;
  border: 2px solid var(--border);
  border-radius: 7px;
}

.toy-preview-item .price.in-stock {
  background-color: var(--success);
  color: var(--success-content);
}
.toy-preview-item .price.not-in-stock {
  background-color: var(--error);
  color: var(--error-content);
} */