.dashboard-analytics {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);

  gap: 1em;
  margin: 1em;

  .chart-wrapper {
    place-self: center;
    width: 280px;
    &.sale-month{
      width: 280px;
      height: 600px;
      grid-column: span 1;
    }
  }

  @include for-narrow-layout {

  }

  @include for-normal-layout {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  @include for-wide-layout {
    .chart-wrapper {
      width: 380px;
      &.sale-month{
        width: 800px;
        grid-column: span 2;
      }
    }
  }
}
