.toy-index-page {
  .toy-filter-section {
    display: flex;
    justify-content: center;
  }

  .toy-list-section {
    background-color: $foreground;
    padding: .3em;
    border-radius: 7px;
  }
}

.toy-index-page .preview-card {
  background-color: $primary-dark;
  color: $primary-content;

  img {
    width: 100%;
    object-fit: contain;
  }
}
