.dashboard-page {
  display: flex;
  min-height: calc(100dvh - $headerHeight);
  margin-top: 1em;

  .dashboard-sidebar {
    position: absolute;
    left: 0;
    top: $headerHeight;
    bottom: 0;

    width: 60px;

    background-color: darken($secondary-dark, 10%);

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1em;
    padding: 1em;
  }
}
