// LAYOUT
$layoutPadding: 20px;
$headerHeight: 80px;
$sidebarWidth: 120px;

// LAYOUT BREAKPOINTS
$break-narrow: 420px;
$break-normal: 780px;
$break-wide: 960px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;

// COLORS PALETTE
$primary: #ea1a5b;
$primary-content: #ffffff;
$primary-dark: #bf1248;
$primary-light: #ee497c;

$secondary: #ea3e1a;
$secondary-content: #ffffff;
$secondary-dark: #bf3012;
$secondary-light: #ee6549;

$background: #f5eaee;
$foreground: #fdfafb;
$border: #ead4db;

$copy: #341921;
$copy-light: #8a4259;
$copy-lighter: #b4647d;

$success: #1aea1a;
$warning: #eaea1a;
$error: #ea1a1a;
$success-content: #000500;
$warning-content: #050500;
$error-content: #ffffff;

$accent: #3ecf8e;
$accent-content: #030b07;
$accent-dark: #2baf74;
$accent-light: #67d9a6;
