.app-header {
  z-index: 10;
  height: $headerHeight;
  justify-content: space-between;
  align-items: center;

  background-color: $primary-dark;

  .header-nav {
    justify-self: end;
    display: flex;

    margin: 1em;
    gap: 1em;

    .nav-link-btn.active {
      Button {
        background-color: orangered;
      }
    }
  }
}
